@model Pokemon


<div class="container-fluid d-flex flex-column justify-content-center align-items-center full-height">
    <h1 id="PokemonName" class="h1"> NOM : @Model.Name @ViewBag.Message </h1>
    <h2 id="PokemonId"> Id : @Model.Id  </h2>
    <h2 id="PokemonType"> PokeTypeId : @Model.PokeTypeId </h2>
</div>
